:root {
  --light: #ffffff;
  --dark: #000000;
  --dark2: #161515;
  --primary: #ff2e2e;
  --secondary: #ffe867;
  --bg: #cacaca;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark);
}

/* Navbar start */
.navbar {
  border-bottom: 1px solid var(--primary);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--light);
  z-index: 9999;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar .logo p {
  width: 90%;
  font-weight: 700;
  overflow-wrap: break-word;
  line-height: 1rem;
  color: var(--dark);
}

.navbar .logo span {
  color: var(--primary);
}

.navbar .logo img {
  width: 60px;
  height: 60px;
}

.navbar .nav-navbar ul {
  list-style-type: none;
}

.navbar .nav-navbar li {
  display: inline-block;
}

.navbar .nav-navbar li a {
  color: var(--dark);
  display: inline-block;
  margin: 0.5rem;
  transition: 0.1s linear;
}

.navbar .nav-navbar li a:hover {
  color: var(--primary);
  transition: 0.1s linear;
}

.navbar .nav-navbar li a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 1.5px solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .nav-navbar li a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

#Menu {
  display: none;
  cursor: pointer;
}

#Menu:hover {
  color: var(--primary);
  transition: 0.1s linear;
}

.transparent {
  border-bottom: 0px;
  background-color: transparent;
}

.transparent .logo span {
  color: var(--secondary);
}

.transparent .logo p {
  color: var(--light);
}

.transparent .nav-navbar li a {
  color: var(--light);
}

.transparent #Menu {
  color: var(--light);
}

/* Navbar end */

/* Home start */
.hero {
  height: 100vh;
}

.content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#vidText {
  height: 100%;
  position: fixed;
  mix-blend-mode: lighten;
  z-index: 3;
}

#vidBackground {
  height: 100%;
  mix-blend-mode: lighten;
  opacity: 0.5;
  animation: fadeIn 5s;
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: 1;
}

.background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.linear {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0, 1));
  z-index: 4;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s linear;
  z-index: 0;
}

.showing {
  opacity: 1;
}
/* Home end */

/* About start */
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 60vh;
  padding: 6rem 7% 0;
  background-color: var(--dark);
  z-index: 4;
}

.about h1,
.profile h1 {
  color: var(--light);
  display: flex;
  gap: 0.3rem;
  font-size: 2rem;
  justify-content: center;
}

.about h1 span,
.about p span,
.profile h1 span {
  color: var(--secondary);
}

.about p {
  text-align: center;
  color: var(--light);
  margin-top: 2rem;
}

.about .sosmed {
  display: flex;
  height: 4rem;
  width: 16rem;
  margin-top: 2rem;
  gap: 2rem;
}

#youtube-about,
#instagram-about,
#music-about {
  color: var(--light);
  width: 100%;
  height: 100%;
  padding: 0.9rem;
}

#youtube-about:hover,
#instagram-about:hover,
#music-about:hover {
  color: var(--secondary);
  padding: 0.7rem;
  transition: ease-in-out 0.2s;
}

.about .sosmed li {
  list-style-type: none;
}

.about .sosmed li a {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border: 1.5px solid var(--light);
}

.about .sosmed li a:hover {
  border-color: var(--secondary);
  transition: linear 0.2s;
}
/* About end */

/* Profile start */
.profile {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0rem 7% 3rem 7%;
  align-items: center;
  justify-content: center;
  background-color: var(--dark2);
  z-index: 4;
}

.profile .profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1%;
  padding-top: 8rem;
}

/* Profile Gembala start */
.profile .profile-container .profileBoxGembala-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1%;
  margin-top: 2rem;
}

.profile .profile-container .profileBoxGembala {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  width: 49%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.profile
  .profile-container
  .profileBoxGembala-container
  .profileBoxGembala
  .photoProfileGembala {
  display: flex;
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.profile
  .profile-container
  .profileBoxGembala-container
  .profileBoxGembala
  .photoProfileGembala
  img {
  object-position: -2rem;
}

.profile
  .profile-container
  .profileBoxGembala-container
  .profileBoxGembala
  .contentProfileGembala {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  left: 40%;
  width: 60%;
  padding: 1rem 2rem 1rem 1rem;
}

.profile
  .profile-container
  .profileBoxGembala-container
  .profileBoxGembala
  .contentProfileGembala
  p {
  text-align: justify;
}

.profile .sosmed {
  display: flex;
  justify-content: end;
  height: 3rem;
  gap: 0.5rem;
  margin-top: 2rem;
}

.profile .sosmed p {
  display: flex;
  align-items: center;
  font-style: italic;
}

#youtube-profile,
#instagram-profile,
#music-profile {
  color: var(--dark);
  width: 100%;
  height: 100%;
  padding: 0.6rem;
}

#youtube-profile:hover,
#instagram-profile:hover,
#music-profile:hover {
  color: var(--light);
  transition: ease-in-out 0.2s;
}

.profile .sosmed li {
  list-style-type: none;
}

.profile .sosmed li a {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: var(--light);
  border: 1.5px solid var(--dark);
}

.profile .sosmed li a:hover {
  background-color: var(--dark);
  transition: linear 0.2s;
}
/* Profile Gembala end */

/* Profile Pengurus start */
.profile .profile-container .profileBoxPengurus-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  gap: 1%;
  flex-wrap: wrap;
}

.profile .profile-container .profileBoxPengurus {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  width: 19%;
  height: 50%;
  background-color: #d0ff00;
}
/* Profile Pengurus end */
/* Profile end */

/* Media Query */
/* Laptop */
@media (max-width: 1440px) {
  html {
    font-size: 70%;
  }

  /* Navbar query */
  .navbar .logo img {
    width: 50px;
    height: 50px;
  }
}

/* Ipad */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  /* Navbar query */
  .navbar .logo img {
    width: 40px;
    height: 40px;
  }

  .navbar .nav-navbar li {
    display: block;
    padding: 0;
    border-bottom: 1px solid var(--dark);
  }

  .navbar .nav-navbar li a {
    display: block;
    padding: 1rem 1.5rem;
    margin: 0;
    color: var(--light);
    transition: 0.1s linear;
  }

  .navbar .nav-navbar li a:hover {
    background-color: var(--dark);
    transition: 0.1s linear;
  }

  .navbar .nav-navbar li a::after {
    transform-origin: left;
  }

  .navbar .nav-navbar li a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .nav-navbar {
    position: absolute;
    background-color: var(--dark2);
    height: 100vh;
    width: 200px;
    right: -100%;
    top: 101%;
    transition: 0.3s linear;
  }

  .navbar .nav-navbar.active {
    right: 0%;
    transition: 0.3s linear;
  }

  #Menu {
    display: inline-block;
    width: 80%;
  }

  /* About query */
  .about {
    height: 50vh;
  }

  /* Profile query */
  .profile {
    height: 200vh;
  }

  .profile .profile-container .profileBoxGembala-container {
    flex-direction: column;
    height: 50%;
  }

  .profile .profile-container .profileBoxGembala-container .profileBoxGembala {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 425px) {
  html {
    font-size: 50%;
  }

  /* Navbar query */
  .navbar .logo img {
    width: 30px;
    height: 30px;
  }

  #Menu {
    display: inline-block;
    width: 60%;
  }
}
